@media (max-width: 1024px){
.header nav .gnb_section.gnb1 {
    padding-right: 20px;
}
}
header nav .gnb_section.gnb1 {
    padding-right: 100px;
}
@media (max-width: 1024px){
.header nav .gnb_section {
    padding-bottom: 0;
}}
header nav .gnb_section {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 85px;
}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, table, tr, th, td {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    position: relative;
    font-family: "Metropolis", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #666;
    letter-spacing: -0.025em;
    line-height: 1;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}
header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 155px;
    opacity: 0;
    background: #fff;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 2%);
    transition: all 0.4s ease;
}