* {
    margin:auto;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    margin: 24px auto;
    position: relative;
    text-align: center;
}
.header{
    max-width: 100%;
    height: 80px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    background-image: url('#');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: none;
}
.item{
    text-decoration: none;
    color: rgb(33, 50, 94);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    text-align: center;
    font-size: 150%;
    top: 3%;
    left: 5%;
}