* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

.navbar{
  height: 80px;
  padding-left: 30px;
}

.logo{
  line-height: 80px;
  float: left;
}

.logo img{
  vertical-align: middle;
}

.navbar ul{
  float: right;
}

.navbar li{
  list-style-type: none;
  float: left;
  margin-right: 30px;
}

.navbar a{
  text-decoration: none;
  color: black;
  font-style: bold;
  font-size: 13px;
}

/* body h1{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 24px;
  font-style: bold;
  color: #545454;
} */

.products {
  margin-left: 160px;
  margin-right: auto;
  padding: 0;
  width: 1060px;
  
}
.size{
  font-size: 15px;
  color: #777;
}

.products img{
  width: 225px;
  height: 225px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.products a{
  height: 400px;
  text-decoration: none;
  color: black;
  float: left;
  font-size: 16px;
}

.price{
  margin-top: 4px;
  margin-bottom: 80px;
}

.clearfix{
  clear: both;
}

.footer a{
  margin: 0 26px 10px 0;
  margin-left: 20px;
  line-height: 27px;
  background-color: white;
  font-weight: 400;
    color: #333;
    text-decoration: none;
  font-size: 13px;
  display: inline-block;
  cursor: pointer;
}

.footer1{
  margin-left: 50px;
  text-align: left;
  background-color: white;
  color: #777;
  font-size: 12px;
  height: auto;
  
}



.menu input[type=checkbox]{
  display: none;

}

.chkBox{
  margin-left: 2px;
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url('./Img/open.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  /* vertical-align: top; */
}

/* 체크되었을때 chkBox 클래스를 가진 div의 background-image를 변경 */
input[id='collapsible']:checked ~ label .chkBox{
  background-image: url('./Img/close.JPG');
}
/* 
.menu input[type=checkbox]+label{
    padding-left: 21px;
    
} */
/* .menu input[type=checkbox]+label>span{
    font-weight: bold;
} */
/* .menu input[type=checkbox]:checked+label{
    background-image: url('./img/close.JPG');
} */
/* 메뉴 목록*/
.menu .menuitems{
    display: none;
    list-style: none;
    position: absolute;
}
.check{
  color: #0890c0;
  border: 1px solid red;
  padding: 5px;
}
.menu .menuitems li{
    padding: 5px;
    
}
.menu .menuitems li a{
    text-decoration: none;
  color: black;
}
/* 메뉴 펼침 - 체크박스 체크되면 메뉴목록 표시 */
input[id='collapsible']:checked ~ .menuitems{
    display: block;
}


.item_area {
  position: relative;
  /* padding-top: 10px; */
  border-top: 1px solid #ebebeb;
}
.dropmenu{
  border:none;
  border:0px;
  margin:0px;
  padding:0px;
  }
.dropmenu .logo{
    height:90px;
    list-style:none;
    margin:0;
    padding:0;
    margin-left: 20px;
    font-size: 50px;
}
  
  .dropmenu li:hover ul{
  display:block;
  }
  
  .dropmenu li li {
  background: rgba(154, 179, 202, 0.871);
  display:block;
  float:none;
  margin:0px;
  padding:0px;
  width:300px;
  }
  
  .dropmenu li:hover li a{
  background:none;
  }
  
  .dropmenu li ul a{
  display:block;
  height:80px;
  font-size:20px;
  margin:0px;
  padding:0px 10px 0px 15px;
  text-align:left;
  }
  
  .dropmenu li ul a:hover, .dropmenu li ul li:hover a{
  background: rgb(73, 95, 124);
  border:0px;
  color:#ffffff;
  text-decoration:none;
  }
  
  .dropmenu p{
  clear:left;
  }



  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.pagination{
  width: 100%;
  display: block;
  text-align: center;
  list-style-type: none; 
  width: 50%; /* 누구의 반이란거야? 부모 (여기선 body) */
  margin: 0 auto ;
	overflow: auto;
  height: 50px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 365px;
}
.pagination > li > a {
  float: none;
  /* clear: both; */
  margin-left: 20px;
  margin: 10px;
}
.li{
  list-style-type: none;
  display: inline;
  width: 34px;
  height: 34px;
  
}
.pagination a{
	color: black;
	text-decoration: none;
	float: left; /* a는 인라인이라 안먹으니까 추가 */
	text-align: center;
	/* 하고보니 빨간색 벗어남 => 오버플로 오토주기, pagination 가서 */
	
}
.pagination a.on {
  color: #0890c0;
  border: 1px solid #0890c0;
  padding: 5px;
}
body h1{
  text-align: center;
  margin-bottom: 60px;
  font-size: 30px;
  font-style: bold;
  color: #545454;
  margin-left: 110px;
}

