.input-box{
    position:relative;
    margin:10px 0;
  }
  .input-box > input{
    background:transparent;
    border:none;
    border-bottom: solid 1px white;
    padding:20px 0px 5px 0px;
    font-size:14pt;
    width:100%;
  }
  input::placeholder{
	color:transparent;
}
input:placeholder-shown + label{
    color: lightgray;
    font-size:14pt;
    top:15px;
  }
  input:focus + label, label{
    color: rgb(210, 200, 200);
    background-color: white;
    font-size:10pt;
    pointer-events: none;
    position: absolute;
    left:0px;
    top:0px;
    transition: all 0.2s ease ;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }
  input:focus, input:not(:placeholder-shown){
    border-bottom: solid 1px rgb(210, 200, 200);
    outline:none;
  }