* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
  }
  
  .navbar{
    height: 80px;
    padding-left: 30px;
  }
  
  .logo{
    line-height: 80px;
    float: left;
  }
  
  .logo img{
    vertical-align: middle;
  }
  
  .navbar ul{
    float: right;
  }
  
  .navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
  }
  
  .navbar a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: 13px;
  }
  
  .hero_header{
    height: 650px;
    width: 60%;
    position: relative;
    margin: 0 auto;
    perspective: 1000px;
    padding-top: 20px;
  }
  
  body h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
    font-style: bold;
    color: #545454;
  }
  
  .products {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 740px;
    text-align: center;
  }
  
  .products img{
    width: 225px;
    height: 225px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .products a{
    text-decoration: none;
    color: black;
    float: left;
    font-size: 16px;
  }
  
  .price{
    margin-top: 4px;
    margin-bottom: 80px;
  }
  
  .clearfix{
    clear: both;
  }
  
  .footer{
    text-align: center;
    background-color: slategray;
  }
  
.rotator {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 55%;
    height: 150px;
    transform-style: preserve-3d;
    animation: roter 29s linear infinite;
    }
    .menu input[type=checkbox]{
      display: none;
  }
  .menu input[type=checkbox]+label{
      padding-left: 25px;
      background-image: url('./img/menu-open.svg');
      background-repeat: no-repeat;
  }
  .menu input[type=checkbox]+label>span{
      font-weight: bold;
  }
  .menu input[type=checkbox]:checked+label{
      background-image: url('./img/menu-close.svg');
  }
  /* 메뉴 목록*/
  .menu .menuitems{
      display: none;
  }
  .menu .menuitems{
      list-style: none;
  }
  .menu .menuitems li{
      padding: 5px;
  }
  .menu .menuitems li a{
      text-decoration: none;
  }
  /* 메뉴 펼침 - 체크박스 체크되면 메뉴목록 표시 */
  .menu input[type=checkbox]:checked~.menuitems{
      display: block;
  }
  .item_area {
    position: relative;
    /* padding-top: 10px; */
    border-top: 1px solid #ebebeb;
  }
  .dropmenu{
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    }
  .dropmenu .logo{
      height:90px;
      list-style:none;
      margin:0;
      padding:0;
      margin-left: 20px;
      font-size: 50px;
  }
    
    .dropmenu li:hover ul{
    display:block;
    }
    
    .dropmenu li li {
    background: rgba(154, 179, 202, 0.871);
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:300px;
    }
    
    .dropmenu li:hover li a{
    background:none;
    }
    
    .dropmenu li ul a{
    display:block;
    height:80px;
    font-size:20px;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
    }
    
    .dropmenu li ul a:hover, .dropmenu li ul li:hover a{
    background: rgb(73, 95, 124);
    border:0px;
    color:#ffffff;
    text-decoration:none;
    }
    
    .dropmenu p{
    clear:left;
    }
  